@import url("https://fonts.googleapis.com/css?family=Comfortaa:400,700,300|Quattrocento");

.container-fluid {
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
}

body {
  font-family: "Comfortaa";
}

header {
  position: fixed;
  width: 100%;
  z-index: 1;
  overflow: hidden;
  height: 46px;
}

ul.topNav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #222B4E;
}

ul.topNav li {
  float: left;
}

ul.topNav li a {
  display: inline-block;
  color: #9498AB;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  transition: 0.4s;
  font-size: 21px;
}

ul.topNav li a:hover {
  background-color: #373F5E;
}

header h2 {
  color: #9498AB;
  float: right;
  margin-right: 30px;
  margin-top: 8px;
}

#content {
  z-index: 2;
  overflow: hidden;
}

#about {
  background-color: #4E5676;
  padding-top: 46px;
  display: block;
  text-align: center;
}

#about p {
  color: #9498AB;
  padding: 30px;
  font-size: 2vw;
  text-align: justify;
}

#about p a {
  color: #222B4E;
}

#about ul {
  display: inline-block;;
  list-style-type:
}

#about ul h2 {
  font-size: 1.7vw;
  text-align: left;
  color: #9498AB;
}

#about ul li {
  font-size: 1.3vw;
  text-align: left;
  color: #9498AB;
}

#picOfMe {
  padding: 20px;
  max-width: 100%;
  border-radius: 50%;
  filter: grayscale(40%);
}
